h2 + p  {
    color: rgb(4, 158, 38);
}
#two {
    color: red;
}
.three {
    color: aqua;
}
button {
    color: blue;
}
.five {
    color: rgb(235, 32, 150);
}
[target="_self"] {
    color: rgb(94, 6, 67);
}
a {
    color: rgb(206, 209, 36);
}
.eight {
    color: rgb(182, 112, 55);
}
p.nine {
    color: blueviolet;
}
[class="ten"] {
    color: rgb(2, 250, 85);
}